<link rel="preload" as="font" href="{{
"fonts/vendor/jost/jost-v4-latin-regular.woff2" | relURL }}" type="font/woff2"
crossorigin> <link rel="preload" as="font" href="{{
"fonts/vendor/jost/jost-v4-latin-700.woff2" | relURL }}" type="font/woff2"
crossorigin>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>
{{ if .Site.Params.options.kaTex -}} <link rel="preload" as="font" href="{{
"fonts/KaTeX_Main-Regular.woff2" | relURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/KaTeX_Math-Italic.woff2" | relURL
}}" type="font/woff2" crossorigin> {{ end -}}
