{{ if or .PrevInSection .NextInSection -}}
<div class="docs-navigation d-flex justify-content-between">
  {{ if .NextInSection -}} {{ with .NextInSection -}}
  <a href="{{ .RelPermalink }}">
    <div class="card my-1">
      <div class="card-body py-2">&larr; {{ .Title }}</div>
    </div>
  </a>
  {{ end }} {{ end }} {{ if .PrevInSection -}} {{ with .PrevInSection -}}
  <a class="ms-auto" href="{{ .RelPermalink }}">
    <div class="card my-1">
      <div class="card-body py-2">{{ .Title }} &rarr;</div>
    </div>
  </a>
  {{ end }} {{ end }}
</div>
{{ end }}
