{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="col-lg-5 col-xl-4 docs-sidebar">
			<nav class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/docs-menu.html" . }}
			</nav>
		</div>
		{{ if ne .Params.toc false -}}
		<nav class="docs-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
			{{ partial "sidebar/docs-toc.html" . }}
		</nav>
		{{ end -}}
		{{ if .Params.toc -}}
		<main class="docs-content col-lg-11 col-xl-9">
		{{ else -}}
		<main class="docs-content col-lg-11 col-xl-9 mx-xl-auto">
		{{ end -}}
			{{ if .Site.Params.options.breadCrumb -}}
				<!-- https://discourse.gohugo.io/t/breadcrumb-navigation-for-highly-nested-content/27359/6 -->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						{{ partial "main/breadcrumb" . -}}
						<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
					</ol>
				</nav>
			{{ end }}
			<h1>{{ .Title }}</h1>
			<p>
				<small>Created: {{ .Params.date.Format "January 2, 2006" }}</small>,
				<small>Updated: {{ .Params.lastmod.Format "January 2, 2006" }}</small>
			</p>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{ partial "main/headline-hash.html" .Content }}
			{{ if .Site.Params.editPage -}}
				{{ partial "main/edit-page.html" . }}
			{{ end -}}
			{{ partial "main/docs-navigation.html" . }}
		</main>
	</div>
{{ end }}
