{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/getting-started/key-concept/" | relURL }}" role="button">Get started</a>
      <p class="meta">Open-source Apache 2.0 Licensed. <a href="https://gitlab.com/bizzflow-etl">GitLab</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Fast to setup ⚡</h2>
        <p>Use our <a href="https://setup.bizzflow.app" target="_blank">setup guide</a> to install your own Bizzflow instance in a few simple steps.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Easy to use 😎</h2>
        <p>You don't need to be a developer in order to use Bizzflow. Our main goal is to make ETL accessible to everyone knowing <code>git</code>, <code>JSON</code>/<code>YAML</code> and <code>SQL</code>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Powerful 💪</h2>
        <p>Ranging from simple <code>SQL</code> transformations to super-powered <code>Python</code> and <code>R</code> data science, Bizzflow is there for you to fit your needs.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Stable and production-ready 👌</h2>
        <p>We use Bizzflow for 15+ projects in all 3 supported environments with 24/7 SLAs without a hiccup.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Adjustable ⚙</h2>
        <p>Being an open-source project, Bizzflow let's you <strong>change</strong>, <strong>enhance</strong> and <strong>add</strong> any feature you would like to.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Scalable 📈</h2>
        <p>Thanks to Bizzflow being run within cloud, it's really easy to make it scale up and down based on your needs.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm mt-3 pb-3">
  <div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-lg">
      <h2>Supported platforms</h2>
      <table class="table combos">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><img src="images/bigquery.png" class="img-fluid" alt="Google BigQuery"></th>
            <th><img src="images/snowflake.png" class="img-fluid" alt="Snowflake"></th>
            <th><img src="images/mssql.png" class="img-fluid" alt="Microsoft SQL Server"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="images/gcp.png" class="img-fluid" alt="Google Cloud Platform"></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
            <td><img src="images/aws.png" class="img-fluid" alt="Amazon Web Services"></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
            <td><img src="images/azure.png" class="img-fluid" alt="Microsoft Azure"></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-check"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
    <div class="col-lg text-center">
      <p><strong>Missing your favourite combo?</strong> <a href="mailto:community@bizzflow.net">Let us know!</a></p>
    </div>
  </div>
</div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
