<table class="table combos">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>
        <img
          src="/images/bigquery.png"
          class="img-fluid"
          alt="Google BigQuery"
        />
      </th>
      <th>
        <img src="/images/snowflake.png" class="img-fluid" alt="Snowflake" />
      </th>
      <th>
        <img
          src="/images/mssql.png"
          class="img-fluid"
          alt="Microsoft SQL Server"
        />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img
          src="/images/gcp.png"
          class="img-fluid"
          alt="Google Cloud Platform"
        />
      </td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-times"></i></td>
    </tr>
    <tr>
      <td>
        <img
          src="/images/aws.png"
          class="img-fluid"
          alt="Amazon Web Services"
        />
      </td>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-times"></i></td>
    </tr>
    <tr>
      <td>
        <img src="/images/azure.png" class="img-fluid" alt="Microsoft Azure" />
      </td>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
  </tbody>
</table>
