<div class="container-fluid p-0">
  <div class="row">
    {{ range sort $.Site.Data.extractors.extractors "name" }}
    <div class="offset-2 col-12 offset-md-0 col-md-8 my-2">
      <a href="{{ .url }}">
        <div class="card">
          <div class="card-header">{{ .name }}</div>
          <div class="card-body">
            <h6 class="card-title m-0"><code>id: {{ .type }}</code></h6>
            <div style="height: 12rem; padding: 1rem 0.5rem">
              <img
                src="{{ .logo }}"
                style="max-height: 100%; object-fit: contain"
                alt="{{ .name }}"
                class="card-img-top"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
